ddata
draft.ipynb
draft.py
.empty
DPR
wandb
downloads
embedding
__pycache__
.vscode
llama_zero_shot.py
config
downloads
utils
wandb
_result
_result_dpr
_result_err
_resulterr_dpr
_run.sh
batch_sample.pickle
doc2embedding.py
sample.py
test_dpr.py
train_dpr.py
